<footer>
    <div class="container-fluid footer-div ">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">
            <div class="col-md-4 d-flex align-items-center ">
                <a href="/ " class="mb-3 me-2 mb-md-0 text-muted text-decoration-none 1h-1 ">
                    <img class="logo " width="100px " height="50px " src="/img/logotech.JPG" alt="logo-tech ">
                </a>
                <span class="text-muted ">&copy; 2021-2022 Tech.</span>
            </div>
            <ul class="nav col-md-4 justify-content-center list-unstyled d-flex redes ">
                <li class="ms-3 "><a class=vdetalleproducto.htmmuted  href=" "><i class="fab fa-twitter text-muted "></i></a>
            </li>
            <li class="ms-3 "><a class=vdetalleproducto.htmmuted  href=" "><i class="fab fa-instagram text-muted "></i></a>
                </li>
                <li class="ms-3 ">
                    <a class=vdetalleproducto.htmmuted  href=" "><i class="fab fa-facebook-square text-muted "></i></a>
            </li>
            </ul>

        </footer>
    </div>


</footer>