<header class="cont-header">

    <div class="top-header d-flex justify-content-between">
        <a href="/"><img class="logo" width="100px" height="65px" src="/img/logotech.JPG" alt="logo-tech"></a>
        
        <div class="menu_hamburguesa">
        <button class="btn-toggle-navbar">
			<i class="fas fa-bars" id="btn-toggle-navbar"></i>
        </button>

        <nav class="nav_header">
            <ul class="menu_header">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Productos</a>
                    <ul class="nav_desplegable">
                         <li><a href="/products/vitrina_productos">Todos los productos</a></li>
                         <li><a href="/products/vitrina_tv">Televisores</a></li>
                         <li><a href="/products/vitrina_cel">Celulares</a></li>
                         <li><a href="/products/vitrina_computadoras">Computadoras</a></li>
                         <li><a href="/products/vitrina_videojuegos">Videojuegos</a></li>
                         <li><a href="/products/vitrina_pcGamer">Pc Gamer</a></li>
                         <li><a href="/products/vitrina_audio">Auriculares, parlantes y audio</a></li>      
                    </ul></li>
                <li><a href="">Acerca</a></li>
                <li><a href="/products/crear_producto">Cargar Producto</a></li>
                <li><a href="/users/register">Regístrate</a></li>
                <li><a href="/users/login">Ingresá</a></li>
                <li><a href="/products/carro_de_compras">Carrito<i class="fa-regular fa-cart-shopping fa-1x" style="color: black"></i></a></li>
            </ul>
        </nav>

    </div>

        <div class="search-form">
            <form action="/search" method="GET" class=" search-form ">
                <input class="input_buscador" type="search " placeholder="Buscar Producto" aria-label="Search ">
                <button class="btn btn-outline-success m-1 " type="submit "><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

</header>